## Automation Studio
# Ignore AR versions as those are not considered part of the project
/AS/System/

# Ignore build results
/Binaries/

# Ignore debugging configurations (Watch,...)
/Diagnosis/

# But save the watch windows and task trace configurations (if it should stay in the repository) - optional, uncomment if needed
#!/Diagnosis/**/
#!/Diagnosis/**/*.PVM
#!/Diagnosis/**/*.tc

# Ignore CPU folder in mappSafety - ..\{ASprojectName}\Physical\{ConfigName}\{PLCname}\mappSafety\{SafetyProjectName}\C\PLC\R\CPU
/Physical/*/*/mappSafety/*/C/PLC/R/CPU/*
!/Physical/*/*/mappSafety/*/C/PLC/R/CPU/*.xml

# Ignore CPU folder in Legacy Safety - ..\{ASprojectName}\Physical{ConfigName}{PLCname}{SafetyProjectName}\C\PLC\R\CPU
# ToDo

# But include the required binary files
!/Physical/*/*/mappSafety/*/C/PLC/R/CPU/src.st1
!/Physical/*/*/mappSafety/*/C/PLC/R/CPU/tmp.sto

# Also include POUs
# mappSafety - {ASprojectName}\Physical{ConfigName}{PLCname}\mappSafety{SafetyProjectName}\POE
# Legacy Safety - {ASprojectName}\Physical{ConfigName}{PLCname}{SafetyProjectName}\POE
# ToDo

# Include all the safety related .set files - all the .set files in the Physical folder
!/Physical/**/*.set

# Ignore standard temp folder
/Temp/

# Ignore upgrades as those are not considered part of the project source code
/Upgrades/

# Ignore user settings file
/*.set

# Ignore is open indication
/*.isopen

# Ignore debug logs
/*/debug.log

# Ignore Conversion logs (AS2 to AS3)
/ConvertLog.txt

# Ignore shortcuts
/*.lnk

# Ignore more stuff to your liking
# ...